// File for scss-vars.
// For example: main colors, paddings and so on.

$desktop-widths: "(min-width: 1000px)";
$tablet-widths: "(min-width: 768px)";
$land-phone-widths: "(min-width: 480px)";

$header-bg: #efefef;
$link: blue;